*, :after, :before {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #231f20;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 1.2rem;
    line-height: 1.5em;
    font-weight: 400;
    font-style: normal;
    background: #fff;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
img {
    display: block;
    max-width: 100%;
}
.buf-nav{
    width: 100%;
    max-width: 1400px;
    margin:  0 auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr auto 1fr;
    grid-auto-flow: row dense;
    position: relative;
    padding: 35px 3vw;
    background: inherit;
    box-shadow: none;
}

.buf-nav a {
    color: inherit;
    text-decoration: none;
}
.buf-nav-logo{
    grid-column-start: 1;
    display: flex;
    align-items: center;
    max-width: 220px;
    text-align: center;
    word-break: break-all;
}
.buf-nav-logo a {
    color: inherit;
    text-decoration: none;
}
.buf-nav-logo img {
    max-height: 32px;
    height: 32px;
}
.buf-nav-logo span {
    padding: 0 10px;
    font-size: 1.5rem;
}
.buf-nav-logo-blog {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1em;
    padding-top: 3px;
    letter-spacing: .5px;
}
.buf-nav-menu{
    display: none;
    align-items: center;
    font-weight: 400;
}
@media (min-width: 1100px){
.buf-nav-menu {
    display: flex;
    font-size: 1.2rem;
}
}
.buf-nav-menu ul{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
@media (min-width: 1100px){
.buf-nav-menu li {
    width: auto;
    margin: 0 3vw 0 0;
    padding: 0;
}
}
.buf-nav-menu a{
    display: inline-block;
    padding: 5px 0;
    color: inherit;
    text-decoration: none;
}
@media (min-width: 1100px){
.buf-nav-menu a svg {
    transform: rotate(0deg);
    stroke: #b8b8b8;
    vertical-align: middle;
    margin-left: 8px;
    opacity: 1;
}}
.buf-nav-sr {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    text-align: right;
    flex-wrap: nowrap;
}
.buf-nav-sr a{
    align-items: center;
    margin: 0;
}
.buf-nav-sr svg {
    margin-left: 1vmin;
    vertical-align: middle;
    height: 3rem;
    padding: 20px;

}
.btn-trial{
    
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    min-width: 75px;
    padding: 0 1.8rem;
    border: 0;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 2.6em;
    letter-spacing: .3px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #2c4bff;
    box-shadow: none;
}

/* FOOTERS*/
.buf-foot{
    padding: 8vmin 3vw 4vmin;
}
.buf-foot a {
    color: inherit;
    text-decoration: none;
}

.buf-foot-col{
    max-width: 1400px;
    display: grid;
    grid-row-gap: 4vmin;
    grid-template-columns: minmax(230px,480px) auto;
}
.buf-foot-logo{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.buf-foot-logo img {
    height: 32px;
    width: auto;
}
.buf-foot-menu {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(3,minmax(150px,auto));
}
.buf-foot-menu strong {
    display: block;
    margin: 0 0 1.4rem;
}
.buf-foot-menu ul, .buf-foot-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.buf-foot-bottom{
    grid-row-start: 2;
    grid-column-start: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4vmin;
    border-top: 1px solid #e0e0e0;
}
.buf-foot-social{
    display: flex;
    align-items: center;
    margin-bottom: .5vmin;
}
.buf-foot-social a{
    display: block;
    padding: 5px 20px;
}
.buf-foot-social a:first-child {
    padding-left: 0;
}
.buf-foot-social svg {
    height: 30px;
    width: 30px;
    fill: #231f20;
}
.buf-foot-legal{
    font-size: 0.7rem;
}
.buf-foot-legal span {
    display: inline-block;
    margin: 0 5px;
}
.buf-foot-legal a {
    text-decoration: none;
    border: none;
    color: currentColor;
}
.buf-foot-bottom-rt{
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.buf-foot-bottom-rt p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0 20px 0 0;
}
.buf-foot-sp {
    padding: 2.6vmin 4vmin;
    color: #636363;
    font-size: 1rem;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: .5px;
    background: #f5f5f5;
}
.buf-foot-sp a {
    text-decoration: none;
    color: currentColor;
}
/* Fre Trial*/

.buf-free{
    color: #fff;
    background: #2c4bff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buf-free-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 9vmin 4vmin;
}
.buf-free h2{
    color: #fff;
    text-align: center;
    line-height: 1.2em;
    font-size: 2.4rem;
    margin: 2vmin 0 0;
    max-width: 820px;
}
.buf-free-btn{
    color: #fff!important;
    padding: 0 3rem;
    background-color: #e97284;
    box-shadow: 0 1px 2px rgb(35 31 32 / 20%), 0 4px 14px rgb(35 31 32 / 30%);
    margin: 4vmin 0 3vmin;
}
.buf-free-list{
    display: inline-flex;
    list-style: none;
    padding: 0;
}
.buf-free-list li {
    font-size: 1rem;
    letter-spacing: .1px;
    line-height: 1.42em;
    font-weight: 400;
    display: inline-flex;
}
.buf-free-list svg {
    fill: #6b88ff;
    width: auto;
    height: 20px;
}

/*Other Content*/
.buf-other{    
    background-color: #f5f5f5;
    padding: 73px 20px 100px;
}
.buf-other h6{
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}
.buf-other-box{
    display: flex;
    justify-content: space-between;
    max-width: 1235px;
    margin: 0 auto;
}

.buf-other-box-card{
    width: 30%;
    display: block;
    padding: 70px 48px;
    background-color: #fff;
}

.buf-other-box-card img{
    margin-bottom: 20px;
}
/*Blog 2*/
.buf-blog-sq{
    max-width: 1235px;
    padding: 130px 20px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.buf-blog-card-sml {
    margin-bottom: 50px;
    width: 50%;
    padding-left: 25px;
    display: flex;
    align-items: center;
}
.buf-blog-card-sml img{
    width: 190px;
    height: 190px;
    -o-object-fit: cover;
    object-fit: cover;
}
.buf-blog-card-cont{
    padding: 0 20px;
}
.buf-blog-card-cont h2{   
    font-size: 18px;
    line-height: 1.3;
    margin: 0;
}
.buf-blog-card-cont a{   
    text-decoration: none;
    color: #231f20;
}
.buf-blog-card-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 13px;
    color: #636363;   
    margin-bottom: 10px;
}
.buf-blog-card-info h6{
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
}
.buf-blog-card-info p {
    display: flex;
    align-items: center;
}
.buf-blog-card-info svg {
    stroke: #231f20;
    opacity: .6;
    margin-left: 14px;
}
.buf-blog-card-info span{   
    margin-left: 6px;
}
.buf-blog-card-info a{
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: .05em;
    background: #f5f5f5;
    padding: 0 6px;
    border-radius: 2px;
    color: #231f20;
    margin-left: 14px;

}
/*Blog 1*/

.buf-blog-rt{
    max-width: 1235px;
    padding: 130px 20px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.buf-blog-card {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buf-blog-card-img {
    width: 620px;
    height: 380px;
    object-fit: cover;
    max-width: 42%;
    margin: 0;
}
.buf-blog-card-box{
    padding: 0 50px;
    flex: 1;
}

.buf-blog-card-box h2{
    font-size: 28px;
    margin-bottom: 6px;
}
.buf-blog-card-box a {
    text-decoration: none;
    color: #231f20;
}

.author-card{ 
    display: flex;
    align-items: center;
    margin: 4vmin 0 0;
}
.author-card-img{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
    flex: 0 0 auto;
    position: relative;
    border: 2px solid #6b88ff;
    margin-right: 18px;
}
.author-card-content{
    display: flex;
    flex-direction: column;
}
.author-card-content strong {
    font-size: 1.2rem;
    line-height: 1.2em;
}
.author-card-content span{
    font-size: 1rem;
    line-height: 1.4em;
    color: #3d3d3d;
}

/*Header*/
.buf-hd{
    position: relative;
    background: #f5f5f5;
    color: #231f20;
    background-position: top;
    min-height: 48vmin;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.5em;
}
.buf-hd-bg{
    background-image: url("open-graphic-1.svg"), url("open-graphic-2.svg");
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
    background-position: 0, 100%;
    background-repeat: no-repeat;
}
.buf-hd-cont{
    padding: 60px 40px 90px;
    flex: 1;
    max-width: 618px;
    text-align: center;
}
.buf-hd-cont img {
    width: 230px;
    padding: 0 0 30px;
    margin: 0 auto;
}